@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background-color: #121212;
    margin: 0;
    padding: 0;
    color: #e0e0e0;
}

.container {
    max-width: 800px;
    margin: 40px auto;
    padding: 30px;
    background-color: #1e1e1e;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    transition: all 0.3s ease;
}

h1 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 50px;
    transition: color 0.3s ease;
}

form {
    display: flexbox;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
    gap: 10px;
    margin: 20px;
    text-align: center;
}

input,
button {
    padding: 10px;
    font-size: 15px;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: #2a2a2a;
    color: #e0e0e0;
    transition: all 0.3s ease;
}

button {
    background-color: #333;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
}

button:hover {
    background-color: #555;
    transform: scale(1.03);
}

.category {
    margin-top: 20px;
    padding: 10px;
    background-color: #2b2b2b;
    color: #ffffff;
    border-left: 8px solid #4fc3f7;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.vehicle {
    background-color: #1f1f1f;
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-left: 4px solid #4fa3f7;
    transition: background-color 0.3s ease;
}

span {
    cursor: pointer;
}

span:hover {
    background-color: #ff0000;
    transform: scale(1.03);
}

.total {
    margin-top: 25px;
    font-size: 1.1em;
    color: #ffffff;
    text-align: right;
    font-weight: bold;
}

.vehicle::before,
.category::before {
    content: "";
    margin-right: 10px;
}

footer {
    text-align: center;
}

#categoria:hover {
    background-color: #ffffff;
    color: #000000 !important;
    transform: scale(1.03);
}

#modelo:hover {
    background-color: #ffffff;
    color: #000000 !important;
    transform: scale(1.03);
}

#placa:hover {
    background-color: #ffffff;
    color: #000000 !important;
    transform: scale(1.03);
}
